@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-padding-top: 7rem;
}
body {
  font-size: 1rem;
  background-color: #fff;
  font-family: "Roboto";
  width: 100%;
}
button {
  outline: none;
}
/* Navigation bar */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}
nav {
  display: flex;
  width: 100%;
  justify-items: center;
  padding: 2rem 5rem;
  padding-bottom: 2.5rem;
}

nav .page-logo {
  width: 30%;
}

nav .nav {
  width: 70%;
}

.nav ul {
  display: flex;
  width: 100%;
  justify-content: end;
  font-size: 1rem;
  font-family: "Roboto";
  align-items: center;
}

.nav a {
  text-decoration: none;
  list-style: none;
  color: #514949;
  text-transform: capitalize;
  text-align: center;
}
.nav li {
  list-style: none;
  width: 200px;
  position: relative;
  text-align: center;
  padding: 10px 0;
  padding-bottom: 15px;
  cursor: pointer;
}

nav ul li :hover {
  color: #e7332b;
}

nav ul li .active {
  color: #e7332b;
  border-bottom: 5px solid currentColor;
  border-radius: 2px;
  bottom: 0;
  background-color: aliceblue;
  padding: 0.6rem 2rem;
}

header .page-logo {
  align-self: center;
}
nav button {
  background-color: #e7332b;
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 1rem;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  outline: none;
}

/* home */
#home {
  display: flex;
  width: 100%;
  height: 70vh;
  padding: 4em 5rem;
  margin-bottom: 10em;
}
#home > div {
  width: 100%;
  flex-grow: 1;
  height: 70vh;
}
#home .talent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
#home .image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
#home .image img {
  width: 70%;
}
#home .image::after {
  content: "";
  background-image: url("../IMG/wavy\ 2.svg");
  width: 150px;
  height: 100px;
  position: absolute;
  background-repeat: no-repeat;
  right: -5%;
  z-index: -1;
  bottom: 20%;
  background-size: contain;
}
#home .talent h1 {
  font-size: 2.7em;
  font-weight: 900;
}
#red {
  color: #e7332b;
  position: relative;
}
#home .talent p {
  text-align: left;
  font-size: 1.3rem;
  color: #787878;
  line-height: 1.5;
}
#home .btns {
  display: flex;
  gap: 20px;
}
#home .btn-1 button {
  background-color: #e7332b;
  border: none;
  padding: 10px 50px;
  color: white;
  border-bottom-right-radius: 7px;
  font-size: 20px;
  cursor: pointer;
}
#home .btn-1,
.btn-2 {
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.1);
}
#home .btn-2 button {
  background-color: #514949;
  border: none;
  padding: 10px 50px;
  color: white;
  border-bottom-right-radius: 7px;
  font-size: 20px;
  cursor: pointer;
}
.red::after {
  content: url(../IMG/yellow\ wave.svg);
  position: absolute;
  bottom: -30px;
  left: 37px;
}

/* impact section */
#impact {
  display: flex;
  width: 100%;
  background: url(../IMG/bgsection.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7.5em 5.45em;
}
#impact > div {
  width: 100%;
}

#impact .text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
#impact .text h1 {
  font-size: 46px;
}
#impact .text h3 {
  font-size: 22px;
}
#impact .text p {
  color: #787878;
  line-height: 1.5;
  font-size: 1.3rem;
}
#impact .countries {
  display: flex;
  gap: 10px;
}
#impact .countries > div {
  background-color: white;
  width: 13%;
  padding: 5px;
  flex-shrink: 1;
  border-radius: 6px;
  display: grid;
  place-items: center;
}
#impact .image {
  display: flex;
  justify-content: flex-end;
}
/* SKILLS AND JOB STYLE */
.skills-you-need {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 5em 6.5em;
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.skills h1 {
  font-size: 44px;
}
.track {
  display: flex;
  width: 80%;
  justify-content: space-between;
  gap: 15px;
}

.track > div {
  background-color: white;
  color: #787878;
  padding: 1em 0.6em;
  border-radius: 10px;
  font-size: 19px;
  box-shadow: 0 8px 30px hsla(0, 0%, 48%, 0.16);
  transition: transform 300ms ease;
}
.track > div:hover {
  transform: translateY(-30%);
}
#wavy {
  background: url(../IMG/wavy\ 2.svg);
  background-repeat: no-repeat;
  background-position: right -90px bottom 0;
}

/* why us */
#whyus {
  background-color: rgb(255, 248, 229);
  padding: 8em 3em;
  background-image: url(../IMG/rope.svg);
  background-repeat: no-repeat;
  background-position: left 0 top 60.5%;
}

#whyus h1 {
  text-align: center;
  font-size: 40px;
  text-transform: capitalize;
}
.reasons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 15px;
  margin-top: 5em;
}
.reasons > div {
  transition: background-color 300ms ease-in-out;
}
.reasons > div:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.reasons > div:hover img {
  transform: translateY(-7px);
}
.reasons > div {
  width: 30%;
  background-color: white;
  display: grid;
  place-items: center;
  padding: 2em 0;
  border-bottom-right-radius: 15px;
  color: #787878;
  font-size: 19px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1em;
}

.reasons img {
  margin-bottom: 1em;
  transition: transform 300ms ease-out;
}
#whyus .btns {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 3em;
}
#whyus .btn1 button {
  background-color: #e7332b;
  border: none;
  padding: 10px 50px;
  color: white;
  border-bottom-right-radius: 7px;
  font-size: 20px;
  cursor: pointer;
}
#whyus :is(.btn-1, .btn-2) {
  transition: box-shadow 300ms ease;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}
#whyus .btn2 button {
  background-color: #514949;
  border: none;
  padding: 10px 50px;
  color: white;
  border-bottom-right-radius: 7px;
  font-size: 20px;
  cursor: pointer;
}
#whyus .btn1:hover,
.btn2:hover {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 20%) 0px 10px 15px 0px;
}

/* footer */
footer {
  background-color: rgb(22, 22, 23);
  display: flex;
  flex-wrap: wrap;
  color: #f2f2f2;
  width: 100%;
  justify-content: space-between;
  padding: 5em 3.5em;
  padding-bottom: 0;
}
footer > div {
  width: 40%;
  margin-bottom: 2em;
}

footer .imgs {
  cursor: pointer;
  color: black;
  font-size: 22px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

footer i {
  background-color: #f2f2f2;
  padding: 0.3em;
  border-radius: 5px;
  color: black;
}
.fa-facebook,
.fa-linkedin {
  padding: 0.3em 0.45em;
}
footer .text {
  display: flex;
  justify-content: flex-end;
}
footer .hr {
  display: none;
}
/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  overflow: auto;
  transition: display 200ms ease;
}

.modal-content {
  background-color: white;
  padding: 30px;
  width: 50%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#myModal .modal-content {
  gap: 15px;
}

.content2 {
  height: 40%;
}

:is(.modal, .modal-talent) h1 {
  text-transform: capitalize;
  font-size: 3em;
  text-align: center;
}
:is(.modal, .modal-talent) p {
  color: #787878;
  font-size: 1.5em;
  text-align: center;
}
.modal .button {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-decoration: none;
}
.modal .btn-1 {
  color: white;
  background-color: #e7332b;
  font-size: 17px;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
.modal .btn-2 {
  color: white;
  background-color: #e7332b;
  font-size: 17px;
  border: none;
  padding: 1rem 3rem;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
}

.modal-talent button {
  background-color: red;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  color: white;
  width: 100%;
  align-self: center;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

.modal-talent .modal-content {
  gap: 1.7rem;
  padding: 50px;
}

button {
  transition: all 200ms ease;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: none;
}

/* media query */
@media screen and (max-width: 420px) {
  body {
    width: 100%;
    padding: 0;
  }
  .body {
    padding: 0;
    margin: 0;
  }
  nav {
    padding: 1.5rem 1rem;
  }
  .nav ul li {
    display: none;
  }
  .nav ul {
    justify-content: flex-end;
  }

  #home {
    flex-direction: column;
    gap: 40px;
    padding: 4em 3em;
    margin-bottom: 25em;
  }
  #home .image {
    display: flex;
    justify-content: center;
  }
  #home .image img {
    width: 100%;
  }
  #home .image::after {
    background-image: none;
  }

  #home .talent h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  #home .talent p {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 0.5em;
  }
  #home .btns {
    justify-content: center;
    display: flex;
  }
  #home .btn-1 button {
    padding: 10px 15px;
    color: white;
    border-bottom-right-radius: 7px;
    font-size: 16px;
    cursor: pointer;
  }
  #home .btn-2 button {
    background-color: #514949;
    border: none;
    padding: 10px 7px;
    color: white;
    border-bottom-right-radius: 7px;
    font-size: 16px;
    cursor: pointer;
  }

  #home .btn-1,
  .btn-2 {
    box-shadow: none;
  }

  #impact {
    flex-direction: column;
    padding: 3em 2em;
    gap: 5em;
  }
  #impact .text h1 {
    font-size: 26.5px;
  }
  #impact .text h3 {
    font-size: 18px;
  }
  #impact .text p {
    font-size: 1rem;
  }
  #impact .image {
    display: block;
  }
  #impact .countries > div {
    width: 40%;
    padding: 10px 5px;
  }
  .skills-you-need {
    padding: 3em 0;
    padding-left: 2em;
  }
  #wavy {
    background-image: none;
  }
  .skills h1 {
    font-size: 34px;
  }
  .track {
    flex-wrap: wrap;
  }
  .track > div {
    width: 40%;

    font-size: 16px;
  }
  #whyus {
    background-position: left 0 top 28%;
    background-size: 60%;
  }
  #whyus h1 {
    font-size: 30px;
  }
  .reasons {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 0;
  }
  .reasons > div {
    width: 100%;
    font-size: 16px;
  }
  #whyus .btn1 button {
    padding: 9px 15px;
    font-size: 18px;
  }
  #whyus .btn2 button {
    padding: 9px 15px;
    font-size: 18px;
  }
  #whyus .btn1,
  .btn2 {
    box-shadow: none;
  }
  footer {
    flex-direction: column;
  }
  footer > div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  footer .img {
    order: 1;
  }
  footer .imgs {
    order: 2;
    display: flex;
    justify-content: center;
  }
  footer .copyright {
    order: 4;
  }
  .copyright p {
    text-align: center;
  }
  footer .text {
    order: 3;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  footer .text p {
    text-align: center;
  }
  footer .hr {
    display: block;
  }
  .modal-content {
    width: 80%;
    gap: 1.5rem;
  }
  .modal-talent button {
    padding: 1rem;
  }
  .content2 {
    height: fit-content;
  }
  #myModal .modal-content {
    gap: 30px;
    padding-top: 50px;
    height: fit-content;
  }
  .modal h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 420px) and (max-width: 830px) {
  body {
    width: 100%;
    margin: 0;
    margin-right: 0;
    padding-right: 0;
  }

  nav {
    padding: 1.5rem 2rem;
  }
  .nav ul li {
    display: none;
  }
  .nav ul {
    justify-content: flex-end;
  }
  #home {
    flex-direction: column;
    gap: 40px;
    padding: 6em 5.3em;
    margin-bottom: 30em;
  }
  #home .image {
    display: flex;
    justify-content: center;
  }
  #home .image::after {
    background-image: none;
  }

  #home .talent h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 0.6em;
  }
  #home .talent p {
    text-align: center;
    font-size: 20px;
  }
  #home .btns {
    justify-content: center;
  }
  #home .btn-1 button {
    padding: 10px 35px;
    color: white;
    border-bottom-right-radius: 7px;
    font-size: 20px;
    cursor: pointer;
  }
  #home .btn-2 button {
    background-color: #514949;
    border: none;
    padding: 10px 35px;
    color: white;
    border-bottom-right-radius: 7px;
    font-size: 20px;
    cursor: pointer;
  }

  #home .btn-1,
  .btn-2 {
    box-shadow: none;
  }

  #impact {
    flex-direction: column;
    padding: 5em 0;
    gap: 5em;
    margin-top: 30em;
  }
  #impact .text h1 {
    font-size: 35px;
    text-align: center;
  }
  #impact .text h3 {
    font-size: 18px;
    text-align: center;
  }
  #impact .text p {
    font-size: 1rem;
    text-align: center;
  }
  #impact .image {
    display: flex;
    justify-content: center;
  }

  #impact .countries {
    width: 100%;
    justify-content: center;
  }
  #impact .countries > div {
    width: 10%;
    padding: 10px 5px;
  }

  .skills-you-need {
    padding: 3em 0;
    padding-left: 4em;
    padding-right: 0;
  }
  #wavy {
    background-image: none;
  }
  .skills h1 {
    font-size: 34px;
    text-align: center;
  }
  .track {
    flex-wrap: wrap;
  }
  .track > div {
    width: 30%;

    font-size: 16px;
  }
  #whyus {
    background-position: left 0 top 42%;
    background-size: 40%;
  }
  #whyus h1 {
    font-size: 30px;
  }
  .reasons {
    width: 100%;
    margin-top: 5em;
  }
  .reasons > div {
    width: 45%;
    font-size: 16px;
  }
  #many {
    width: 93%;
    display: block;
  }

  #whyus .btn1 button {
    padding: 9px 15px;
    font-size: 18px;
  }
  #whyus .btn2 button {
    padding: 9px 15px;
    font-size: 18px;
  }
  #whyus .btn1,
  .btn2 {
    box-shadow: none;
  }

  footer .img {
    display: flex;
  }
  footer .logo {
    width: 50%;
  }
  .copyright {
    width: 60%;
  }
  .copyright p {
    font-size: 18px;
    padding: 0;
  }
  .modal-content {
    width: 80%;
    gap: 1.5rem;
  }
  .modal h1 {
    font-size: 2rem;
  }
}
